
body {
  margin: 0;
  font-display: optional;
}

body * {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer{
  background-color:transparent;
}

.intro .md-block pre.md-code-block {
  background-color: black;
  padding: 16px;
  font-size: 14px;
}

.intro .md-block {
    width: 800px;
    margin: auto;
}

.intro .md-block .md-p code {
    font-family: Source Code Pro, Menlo, monospace;background-color: #0000004a;color: white;display: inline-block;padding: 0 8px;border-radius: 8px;
    line-height: 23px;}